<form (ngSubmit)="editCompany();" method="post">
    <div>
        <div class="input-group" style="width: 70%">
            <label>Име на компания</label>
            <input [(ngModel)]="model.name" class="form-control" type="text"  required/>
        </div>
        <div class="input-group" style="width: 70%">
            <label>email</label>
            <input [(ngModel)]="model.email" class="form-control" type="email" />
        </div>
        <div class="input-group" style="width: 70%">
            <label>website</label>
            <input [(ngModel)]="model.website" class="form-control" type="url" />
        </div>
        <div class="input-group" style="width: 100%">
            <label>Описание</label>
            <textarea [(ngModel)]="model.description" rows="4" cols="4" class="form-control" type="text"></textarea>
        </div>
        <div class="input-group" style="width: 70%">
            <label>Булстат</label>
            <input [(ngModel)]="model.bulstat" class="form-control" type="number"  required/>
        </div>
        <div style="width: 100%;margin-top: 2%;">
            <button type="submit" class="btn btn-default">Запис</button>
        </div>
        <div [hidden]="isNotShowSuccess" class="alert alert-success" style="margin-top: 2%;">
            <button (click)="isNotShowSuccess=true" type="button" class="close">×</button>
            Успешен запис!
        </div>
    </div>
</form>